.top {
  display: inline-flex;
  flex-wrap: wrap;
}
.title {
  font-family: 'Lucidia Sans Unicode', Ariel;
}
.info {
  font-family: "Courier-New", "Lucida Console", monospace;
  font-size: 0.8rem;
}
.mugshot h4 {
  text-align: center;
}
.block {
}
.combi-item {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
}
.boltit {
  font-wieght: bold;
}
.itit {
  font-style: italic;
}
