.top {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  font-family: 'Lucidia Sans Unicode', Ariel;
}
.info {
  font-family: "Courier-New", "Lucida Console", monospace;
  font-size: 0.8rem;
}
.block {
}
.combi-item {
  display: inline;
  padding: 0;
}
.boltit {
}
.itit {
}
