html, body {
 display: flex;
  flex-direction: column;
}
.top {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 30px;
 justify-content: center;
}
.title {
  font-family: 'Lucidia Sans Unicode', Ariel;
}
.info {
  font-family: "Courier-New", "Lucida Console", monospace;
  font-size: 0.75rem;
}
.mugshot h4 {
  text-align: center;
}
.block {
}
.combi-item {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
}
.setup {
 length: 120px; 
}
.boldit {
  font-wieght: bold;
}
.itit {
  font-style: italic;
}
